*.csv
*jpeg
*jpeg
.png

*.pyc
*.old
*.pyc
**/.ipynb_checkpoints/**
lib/__pycache__/**


mlruns/*
models/*.pkl

config.yml

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

!data/CHEMBL204_Ki.csv
# !data/train.csv
# !data/val.csv
# !data/test.csv
!data/models/.gitkeep
mlruns/.gitkeep






